<launch>

	<arg name="namespace" default="GETjag"/>
	<arg name="tf_prefix" default="GETjag"/>
	<arg name="world" default="small_world1.world"/>
	<arg name="use_csm" default="true"/>

	<arg name="paused" default="false"/>
	<arg name="use_sim_time" default="true"/>
	<arg name="gui" default="true"/>
	<arg name="headless" default="false"/>
	<arg name="debug" default="false"/>

	<arg name="verbose" default="false"/>
	<arg name="physics" default="ode"/>

	<arg name="extra_gazebo_args" default=""/>
	<arg name="recording" default="false"/>

	<arg name="respawn_gazebo" default="false"/>
	<arg name="use_clock_frequency" default="false"/>
	<arg name="pub_clock_frequency" default="100"/>

	<arg name="robot_config" default="camera1"/>
	
	<!-- set use_sim_time flag -->
	<param name="/use_sim_time" value="$(arg use_sim_time)"/>

	<!-- set command arguments -->
	<arg unless="$(arg paused)" name="command_arg1" value=""/>
	<arg     if="$(arg paused)" name="command_arg1" value="-u"/>
	<arg unless="$(arg recording)" name="command_arg2" value=""/>
	<arg     if="$(arg recording)" name="command_arg2" value="-r"/>
	<arg unless="$(arg verbose)" name="command_arg3" value=""/>
	<arg     if="$(arg verbose)" name="command_arg3" value="--verbose"/>
	<arg unless="$(arg debug)" name="script_type" value="gzserver"/>
	<arg     if="$(arg debug)" name="script_type" value="debug"/>

	<!-- start gazebo server-->
	<group if="$(arg use_clock_frequency)">
		<param name="gazebo/pub_clock_frequency" value="$(arg pub_clock_frequency)" />
	</group>

	 <node name="gazebo" pkg="gazebo_ros" type="$(arg script_type)" respawn="$(arg respawn_gazebo)" output="screen"
		args="$(arg command_arg1) $(arg command_arg2) $(arg command_arg3) -e $(arg physics) $(arg extra_gazebo_args) $(find resources)/worlds/$(arg world)" />

	<!-- start gazebo client -->
	<group if="$(arg gui)">
		<node name="gazebo_gui" pkg="gazebo_ros" type="gzclient" respawn="false" output="screen"/>
	</group>

		<!-- Load the URDF into the ROS Parameter Server -->
	<param name="robot_description"
		command="rosrun xacro xacro --inorder '$(find resources)/models/camera/$(arg robot_config).xacro'"/>

	<!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
	<node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
		args="-urdf -model cameraStereo -param robot_description -x 1 -y 0 -z 0.25"/>

		<!-- convert joint states to TF transforms for rviz, etc -->
		<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
			<!--remap from="/joint_states" to="/$(arg namespace)/joint_states"/ -->
			<!--<param name="tf_prefix" value="$(arg namespace)"/>  -->
		</node>

</launch>
